*{
   margin-left: 5px;
}
th, .title, p, #unique{
    font-family: "Poppins", serif;
}
th{
    background-color: rgb(255, 224, 168);
}
table,th,tr,td{
    border: 2px rgb(255, 206, 114) solid;
    border-collapse: collapse;
}
.title{
    color: blue;
}
table{
    width: 100%;
}
table,th,tr{
    height: 50px;
}

p{
    color: rgb(2, 125, 219);
}
#unique{
    color: red;
}
li{
    color: black;
}
.khmer,#song{
    font-weight: bold;
    font-size: 18px;
}
.khmer{
    font-family: "Angkor", serif;
    font-weight: lighter;
    font-size: 14px;
}
td:hover{
    background-color: antiquewhite;
}
td{
    text-align: center;
}
.khmer a{
    color: black;
    text-decoration: none;
}
.english a{
    /* color: rgb(59, 212, 212); */
    text-decoration: none;
}
a:link{
    color: rgb(59, 212, 212);
}
a:hover{
    color: rgb(203, 182, 42);
}
a:active{
    color: rgb(158, 158, 158);
}
a:visited{
    color: plum;
}